a.far inserie all'utente due valori interi

In [ ]:
num1 =  int(input("inserisci il 1 numero:" ))
num2 =  int(input("inserisci il 2 numero:" ))

inserisci il 1 numero:4
inserisci il 2 numero:6

b.effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:
Addizione = num1  + num2
Sottrazione = num1  - num2
Moltiplicazione = num1  * num2
Divisione = num1  // num2


print(Addizione)
print(Sottrazione)
print(Moltiplicazione) 
print(Divisione)

10
-2
24
0

c.effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
risultato = num1**num2
print(risultato)

4096

d.effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
risultato = num1%num2
print(risultato)

4

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
risultato = num1//num2
print(risultato)

g.incrementare di una unità entrambi i numeri

In [ ]:
risultato = num1 + 1
print (risultato)
risultato2 = num2 + 1
print (risultato2)

5
7

h.far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [154]:
num3 =  float(input("inserisci l'altezza:" ))
num4 =  float(input("inserisci il peso:" ))
IMC = num4 / (num3 * num3 )
print(IMC)

inserisci l'altezza:1.78
inserisci il peso:57
17.99015275849009

i.arrotondare l'IMC precedente

In [155]:
print( round(IMC))

18

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Mattia","Ottaviano", "15/09/05", "Milano", sep='-')

Mattia-Ottaviano-15/09/05-Milano

 k.visualizzare le stesse informazioni per 10 volte di seguito

In [158]:
print("Mattia-Ottaviano-15/09/05-Milano     " *10)

Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano     Mattia-Ottaviano-15/09/05-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
s = "mattia ottaviano"
print(s.upper())

MATTIA OTTAVIANO

m.assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
s = "mattia ottaviano"
print(s.title())

Mattia Ottaviano

 n.assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
s = "mattia ottaviano"
print(s,len(s))

mattia ottaviano 16

o.assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
s = "mattia ottaviano"
print(s.count("a") + s.count("e") + s.count("i") + s.count("o") + s.count("u"))

8

p.assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
s = "mattia ottaviano"
print(s[0:5])

matti

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
s = "mattia ottaviano"
print(s[11:16])

viano

r.assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [ ]:
s = "mattia ottaviano"
print(s[5:10])

a ott

assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [ ]:
s = "mattia ottaviano"
print(s.replace("a", "X").replace("e", "X").replace("i", "X").replace("o", "X").replace("u", "X"))

mXttXX XttXvXXnX