far inserie all'utente due valori interi

In [22]:
num1 =  int(input("inserisci il 1 numero:" ))
num2 =  int(input("inserisci il 2 numero:" ))

inserisci il 1 numero;:6
inserisci il 2 numero:4

 effettuare le 4 operazioni aritmetiche tra i due numeri

In [34]:
Addizione = num1  + num2
Sottrazione = num1  - num2
Moltiplicazione = num1  * num2
Divisione = num1  // num2


print(Addizione)
print(Sottrazione)
print(Moltiplicazione) 
print(Divisione)

10
2
24
1

effettuare l'elevamento a potenza del primo numero per il secondo

In [17]:
risultato = num1**num2
print(risultato)

4096

effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [19]:
risultato = num1//num2
print(risultato)

0.6666666666666666

 incrementare di una unità entrambi i numeri

In [20]:
risultato = num1 + 1
print (risultato)
risultato2 = num2 + 1
print (risultato2)

5
7

far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [39]:
num3 =  float(input("inserisci l'altezza:" ))
num4 =  float(input("inserisci il peso:" ))
IMC = num4 / (num3 * num3 )
print(IMC)

inserisci l'altezza:1.78
inserisci il peso:57
17.99015275849009

arrotondare l'IMC precedente

In [40]:
print( round(17.990))

18

visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Mattia","Ottaviano",sep='...',end='!!',flush=True)