Creare un notebook Python che permetta di avere tutte le informazioni richieste sopra, Prevedere inoltre la possibilità per l'utente di avere le seguenti informazioni aggiuntive

In [ ]:
# import modulo os e installazione di rtree e altro per far funzionare l'sjoin
import os
!pip install rtree
!curl -L http://download.osgeo.org/libspatialindex/spatialindex-src-1.8.5.tar.gz | tar xz
os.chdir("/content/spatialindex-src-1.8.5")
!./configure
!make
!make install
!ldconfig

In [ ]:
#per installare
!pip install geopandas

import pandas as pd
import geopandas

In [ ]:
import numpy as np

# **a. data una via (inserita dall'utente), avere le aree di sosta di quella via**

In [ ]:
area_sosta = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/bike_areesosta.zip")
milano = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/ds964_nil_wm")
stradario = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/stradario.csv")
stradario

       CODICE_VIA AREA DESCRIZIONE_VIA  CIVICO BARRATO  CAP  SEZIONE  MUNICIPIO
0            4377  VIA  8 OTTOBRE 2001      12     NaN  138      916          4
1            3123  VIA     A.DEL SARTO       1     NaN  129      665          3
2            3123  VIA     A.DEL SARTO       3     NaN  129      665          3
3            3123  VIA     A.DEL SARTO       4     NaN  129      665          3
4            3123  VIA     A.DEL SARTO       5     NaN  129      665          3
...           ...  ...             ...     ...     ...  ...      ...        ...
51318        6318  VIA          ZURIGO      24     NaN  147      394          7
51319        6318  VIA          ZURIGO      24       4  147      394          7
51320        6318  VIA          ZURIGO      25     NaN  147     1412          6
51321        6318  VIA          ZURIGO      28     NaN  147      539          7
51322        6318  VIA          ZURIGO      65     NaN  147     1412          6

[51323 rows x 8 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
area_sosta

      id_amat  ...                  geometry
0           2  ...  POINT (9.17821 45.42991)
1           4  ...  POINT (9.16829 45.51697)
2           8  ...  POINT (9.08480 45.47628)
3           9  ...  POINT (9.15673 45.48228)
4          10  ...  POINT (9.12054 45.45506)
...       ...  ...                       ...
1517     3232  ...  POINT (9.16586 45.50530)
1518     3233  ...  POINT (9.16628 45.50584)
1519     3234  ...  POINT (9.16634 45.50568)
1520     3235  ...  POINT (9.16633 45.50532)
1521     3243  ...  POINT (9.21895 45.43356)

[1522 rows x 12 columns]

In [ ]:
area_sosta.dtypes

id_amat          int64
id_via          object
num_civico      object
municipio       object
stato           object
categoriev      object
numero_man       int64
stalli_per       int64
stalli_tot       int64
tipomanufa      object
ubicazione      object
geometry      geometry
dtype: object

In [ ]:
# input
via = str(input("inserire id della via: "))
#  individuazione dell'area sosta del id della via inserita
area_sosta[area_sosta.id_via == via]

inserire id della via: 7165

   id_amat  ...                  geometry
3        9  ...  POINT (9.15673 45.48228)

[1 rows x 12 columns]

# **b. dato un quartiere (inserito dall'utente), avere la mappa di quel quartiere con l'indicazione della posizione delle aree di sosta**

In [ ]:
quartieri_milano = geopandas.read_file("/content/drive/MyDrive/Colab Notebooks/ds964_nil_wm")
quartieri_milano





######                            INCOMPLETO

    ID_NIL  ...                                           geometry
0       48  ...  POLYGON ((9.15422 45.43775, 9.15419 45.43707, ...
1       64  ...  POLYGON ((9.10623 45.49016, 9.10295 45.48939, ...
2       67  ...  POLYGON ((9.15636 45.48785, 9.15724 45.48721, ...
3       81  ...  POLYGON ((9.16803 45.52234, 9.16687 45.52027, ...
4       84  ...  POLYGON ((9.20040 45.52848, 9.20055 45.52828, ...
..     ...  ...                                                ...
83      68  ...  POLYGON ((9.17174 45.47619, 9.17150 45.47595, ...
84       2  ...  POLYGON ((9.19165 45.46906, 9.19105 45.46843, ...
85      33  ...  POLYGON ((9.24044 45.44427, 9.24084 45.44424, ...
86      17  ...  POLYGON ((9.26729 45.51234, 9.26701 45.51241, ...
87      53  ...  POLYGON ((9.13575 45.44969, 9.13318 45.44886, ...

[88 rows x 9 columns]

In [ ]:
area_sosta

      id_amat  ...                  geometry
0           2  ...  POINT (9.17821 45.42991)
1           4  ...  POINT (9.16829 45.51697)
2           8  ...  POINT (9.08480 45.47628)
3           9  ...  POINT (9.15673 45.48228)
4          10  ...  POINT (9.12054 45.45506)
...       ...  ...                       ...
1517     3232  ...  POINT (9.16586 45.50530)
1518     3233  ...  POINT (9.16628 45.50584)
1519     3234  ...  POINT (9.16634 45.50568)
1520     3235  ...  POINT (9.16633 45.50532)
1521     3243  ...  POINT (9.21895 45.43356)

[1522 rows x 12 columns]

In [ ]:
quartieri_milano.dtypes

ID_NIL           int64
NIL             object
Valido_dal      object
Valido_al       object
Fonte           object
Shape_Leng     float64
Shape_Area     float64
OBJECTID         int64
geometry      geometry
dtype: object

In [ ]:
#  converto la colonna ID_NIL da int64 a object(str)
quartieri_milano["ID_NIL"] = quartieri_milano["ID_NIL"].astype(str)
quartieri_milano.dtypes

ID_NIL          object
NIL             object
Valido_dal      object
Valido_al       object
Fonte           object
Shape_Leng     float64
Shape_Area     float64
OBJECTID         int64
geometry      geometry
dtype: object

In [ ]:
area_sosta.dtypes

id_amat          int64
id_via          object
num_civico      object
municipio       object
stato           object
categoriev      object
numero_man       int64
stalli_per       int64
stalli_tot       int64
tipomanufa      object
ubicazione      object
geometry      geometry
dtype: object

In [ ]:
#  unione tra quartieri_milano e area_sosta in base al: left_on="ID_NIL" e right_on="num_civico"
quartieri_milano_area_sosta = pd.merge(quartieri_milano, area_sosta, how="outer", left_on="ID_NIL", right_on="num_civico")
quartieri_milano_area_sosta

     ID_NIL  ...                geometry_y
0        48  ...  POINT (9.18197 45.47185)
1        48  ...  POINT (9.20467 45.46720)
2        64  ...  POINT (9.23030 45.46732)
3        67  ...                      None
4        81  ...  POINT (9.24886 45.46394)
...     ...  ...                       ...
1521    NaN  ...  POINT (9.12360 45.44546)
1522    NaN  ...  POINT (9.12387 45.44637)
1523    NaN  ...  POINT (9.14079 45.47255)
1524    NaN  ...  POINT (9.14004 45.47206)
1525    NaN  ...  POINT (9.21975 45.52367)

[1526 rows x 21 columns]

In [ ]:
# input
nil_inserito = input("inserire nome del quartiere: ")
# localizzazione del quartiere
dati_dei_quartieri_inseriti = quartieri_milano_area_sosta[quartieri_milano_area_sosta.NIL == nil_inserito]
dati_dei_quartieri_inseriti

inserire nome del quartiere: RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO

  ID_NIL  ...                geometry_y
0     48  ...  POINT (9.18197 45.47185)
1     48  ...  POINT (9.20467 45.46720)

[2 rows x 21 columns]

In [ ]:
info_quartiere = quartieri_milano[quartieri_milano.NIL == nil_inserito]
info_quartiere

  ID_NIL  ...                                           geometry
0     48  ...  POLYGON ((9.15422 45.43775, 9.15419 45.43707, ...

[1 rows x 9 columns]

In [ ]:
info_quartiere_ID_NIL = info_quartiere[["ID_NIL"]]
info_quartiere_ID_NIL

  ID_NIL
0     48

In [ ]:
info_quartiere.dtypes

ID_NIL          object
NIL             object
Valido_dal      object
Valido_al       object
Fonte           object
Shape_Leng     float64
Shape_Area     float64
OBJECTID         int64
geometry      geometry
dtype: object

In [ ]:
area_sosta.dtypes

id_amat          int64
id_via          object
num_civico      object
municipio       object
stato           object
categoriev      object
numero_man       int64
stalli_per       int64
stalli_tot       int64
tipomanufa      object
ubicazione      object
geometry      geometry
dtype: object

In [ ]:
area_sosta[area_sosta.num_civico == info_quartiere_ID_NIL]
area_sosta

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.

      id_amat  ...                  geometry
0           2  ...  POINT (9.17821 45.42991)
1           4  ...  POINT (9.16829 45.51697)
2           8  ...  POINT (9.08480 45.47628)
3           9  ...  POINT (9.15673 45.48228)
4          10  ...  POINT (9.12054 45.45506)
...       ...  ...                       ...
1517     3232  ...  POINT (9.16586 45.50530)
1518     3233  ...  POINT (9.16628 45.50584)
1519     3234  ...  POINT (9.16634 45.50568)
1520     3235  ...  POINT (9.16633 45.50532)
1521     3243  ...  POINT (9.21895 45.43356)

[1522 rows x 12 columns]

In [ ]:
area_sosta

      id_amat  ...                  geometry
0           2  ...  POINT (9.17821 45.42991)
1           4  ...  POINT (9.16829 45.51697)
2           8  ...  POINT (9.08480 45.47628)
3           9  ...  POINT (9.15673 45.48228)
4          10  ...  POINT (9.12054 45.45506)
...       ...  ...                       ...
1517     3232  ...  POINT (9.16586 45.50530)
1518     3233  ...  POINT (9.16628 45.50584)
1519     3234  ...  POINT (9.16634 45.50568)
1520     3235  ...  POINT (9.16633 45.50532)
1521     3243  ...  POINT (9.21895 45.43356)

[1522 rows x 12 columns]

In [ ]:
!pip install contextily
import contextily as ctx

In [ ]:



ax = mappa_del_quartiere.to_crs(epsg = 3857).plot(figsize=(12,12), facecolor = "none", edgecolor = "k")
pos_area_sosta.to_crs(epsg = 3857).plot(ax=ax, color='red', markersize = 5)
ctx.add_basemap(ax)

NameError: ignored

# **c. date le coordinate geografiche di un punto (inserite dall'utente), avere una mappa che visualizzi le aree di sosta a meno di 500 m da quel punto**